/* Background */
body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../image/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Akhir Background */

/* Logo */
.logo {
  margin-top: 25px;
  margin-left: 25px;
}

/* Akhir Logo */

/* Garis Logo */
.lineup {
  margin-top: 20px;
  margin-left: -12px;
}

/* Garis Logo */

/* Title Header */
.title {
  margin-left: 110px;
  margin-top: -55px;
}

.title_1 {
  margin-top: -10px;
  margin-left: 110px;
}

/* AkhirTitle Header */

/* Header Main*/
.title_2 {
  padding-top: 70px;
  text-align: center;
}

.title_3 {
  text-align: center;
  margin-top: -5px;
}

/* Akhir Header Main */

/* Dropdown */
.jsurat {
  margin-top: 50px;
  justify-content: center;
  margin-left: 435px;
  padding: 20px 30px;
  font-size: 20px;
  background-color: #0dc3f4;
}

/* Akhir Dropdown */